<div class="sidenav__header mb-20">
  <div class="flex items-baseline justify-between">
    <app-logo></app-logo>

    <img
      class="cursor-pointer"
      width="32"
      height="32"
      src="/assets/icons/menu.svg"
      (click)="emitMenuClicked()"
    />
  </div>

  <div
    class="text-base text-white block text-center relative top-11"
    *ngIf="profile"
  >
    <div>{{ profile.name }}</div>
    <div class="text-xs mb-3">{{ profile.email }}</div>
    <img src="{{ profile.imageUrl }}" height="67" class="avatar" />
  </div>
</div>

