a.sidenav__item {
  &:first-child {
    margin-top: 0;
  }
  margin-top: 5px;
  height: 38px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  padding-left: 24px;
}

a.sidenav__item .item-name {
  font-size: 14px;
  font-weight: bold;
  color: white;
  white-space: normal;
}

a.sidenav__item.active-link {
  background: var(--color-accent500);
  & .item-name {
    color: #fff;
  }
}
