:root {
  --color-primary50: #eeeeee;
  --color-primary500: #303e4c;
  --color-primary800: #1e2833;

  --color-accent50: #f7f9fb;
  --color-accent500: #00aff0;
  --color-accent600: #00a8ee;
  --color-accent700: #009fec;
  --color-accent900: #0086e5;

  --color-warn50: ##f6eeee;
  --color-warn500: #c13512;
}
