<mat-sidenav-container class="container">
  <mat-sidenav mode="side" class="sidebar" opened>
    <mat-nav-list>
      <a
        mat-list-item
        class="sidebar__item"
        [routerLink]="['users/user-list']"
        routerLinkActive="active-link"
      >
        <span class="item-name">Użytkownicy</span>
      </a>
      <a
        mat-list-item
        class="sidebar__item"
        [routerLink]="['users/add-user']"
        routerLinkActive="active-link"
      >
        <span class="item-name">Dodaj nowego użytkownika</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <h1>{{ header }}</h1>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
