<div class="form-container mt-11">
  <form
    [formGroup]="form"
    class="form xl:w-6/12 w-8/12"
    (ngSubmit)="saveUser()"
  >
    <mat-form-field appearance="outline">
      <mat-label>
        {{ "Users.UserForm.ID" | translate }}
      </mat-label>
      <input
        matInput
        formControlName="id"
        placeholder="123456"
        min="0"
        type="number"
      />
      <mat-error
        *ngIf="
          id.invalid && (id.dirty || id.touched) && id.hasError('required')
        "
      >
        {{ "Users.UserForm.Validation.ID.Required" | translate }}
      </mat-error>
      <mat-error
        *ngIf="id.invalid && (id.dirty || id.touched) && id.hasError('pattern')"
      >
        {{ "Users.UserForm.Validation.ID.Pattern" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{ "Users.UserForm.FirstName" | translate }}
      </mat-label>
      <input
        matInput
        type="text"
        formControlName="firstName"
        placeholder="Adam"
        maxlength="50"
      />
      <mat-error
        *ngIf="
          firstName.invalid &&
          (firstName.dirty || firstName.touched) &&
          firstName.hasError('required')
        "
      >
        {{ "Users.UserForm.Validation.FirstName.Required" | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          firstName.invalid &&
          (firstName.dirty || firstName.touched) &&
          firstName.hasError('maxlength')
        "
      >
        {{ "Users.UserForm.Validation.FirstName.MaxLength" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{ "Users.UserForm.LastName" | translate }}
      </mat-label>
      <input
        matInput
        type="text"
        formControlName="lastName"
        placeholder="Kowalski"
        maxlength="50"
      />
      <mat-error
        *ngIf="
          lastName.invalid &&
          (lastName.dirty || lastName.touched) &&
          firstName.hasError('maxlength')
        "
      >
        {{ "Users.UserForm.Validation.LastName.MaxLength" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{ "Users.UserForm.Role" | translate }}
      </mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roleEnum" [value]="role">
          {{ "Users.UserRoleEnum." + role | translate }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          role.invalid &&
          (role.dirty || role.touched) &&
          role.hasError('required')
        "
      >
        {{ "Users.UserForm.Validation.Role.Required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{ "Users.UserForm.Status" | translate }}
      </mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusEnum" [value]="status">
          {{ "Users.UserStatusEnum." + status | translate }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          role.invalid &&
          (role.dirty || role.touched) &&
          role.hasError('required')
        "
      >
        {{ "Users.UserForm.Validation.Role.Required" | translate }}
      </mat-error>
    </mat-form-field>

    <button
      mat-button
      class="btn-submit uppercase"
      type="submit"
      [disabled]="!editMode ? form.invalid : !form.dirty || form.invalid"
    >
      {{ "Users.UserForm.SubmitButton." + buttonLabel | translate }}
    </button>
  </form>
</div>

